<div class="navbar">
  <div class="column-1">
    <div class="top-column1">
      <div class="brand-name">
        <a class="navbar-brand" style="color: #fff">Vivascope</a>
      </div>

      <div class="left-topcontrol">
        <button class="btn btn1" (click)="modalService.open('modal1')">
          <strong> PATIENT LIST </strong>
        </button>

        <div class="left-buttons">
          <button
            style="
              border: none;
              outline: 1px solid #fff;
              background: transparent;
              padding: 5px 10px;
            "
            (click)="modalService.open('modal2')"
          >
            <i class="fas fa-plus" style="color: #fff"></i>
          </button>

          <button
            style="
              border: none;
              outline: 1px solid #fff;
              background: transparent;
              padding: 5px 10px;
              margin-left: 1vw;
            "
          >
            <i class="fas fa-search" style="color: #fff"></i>
          </button>
        </div>
      </div>
    </div>

    <div
      class="empty-space"
      style="background: #fff; width: 120%; height: 100%"
    ></div>
  </div>

  <div class="column-2">
    <div class="col2-top-sec">
      <!-- <div class="dropdown">
  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
    Dropdown button
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#">Link 1</a>
    <a class="dropdown-item" href="#">Link 2</a>
    <a class="dropdown-item" href="#">Link 3</a>
  </div>
</div> -->

      <li>
        <a class="btn dropdown-toggle href=#"
          ><i class="fas fa-cog" style="color: #fff"></i
        ></a>
      </li>
      <li>
        <div class="dropdown">
          <button
            type="button"
            class="btn dropdown-toggle"
            data-toggle="dropdown"
          >
            <i class="fas fa-user" style="color: #fff"></i>
            user
          </button>
          <div class="dropdown-menu">
            <button type="button" class="btn dropdown-toggle">
              <a (click)="logout()" class="nav-link">Logout</a>
            </button>
          </div>
        </div>
      </li>
      <li>
        <div class="box"></div>
      </li>
    </div>

    <div class="col2-bottom-sec">
      <form id="form">
        <div class="progress-list">
          <ul id="progressbar">
            <li class="active" id="step1">
              <strong>Place the Slider</strong>
            </li>
            <li id="step2"><strong>Patient Details</strong></li>
            <li id="step3"><strong>Auto Calibration</strong></li>
            <li id="step4"><strong>Auto Region Selection</strong></li>
            <li id="step5"><strong>Image Capturing</strong></li>
            <li id="step6"><strong>WBC Module</strong></li>
            <li id="step7"><strong>Image Processing</strong></li>
            <li id="step8"><strong>Image Analysis</strong></li>
            <li id="step9"><strong>Report</strong></li>
          </ul>
        </div>

        <div class="all-fieldset">
          <fieldset>
            <div
              style="
                background: #0061a8;
                display: flex;
                width: 100%;
                padding: 0 10px 0 50px;
              "
              class="random-buttons"
            >
              <div class="left-section">
                <p>PID:</p>
                <span style="width: 50px"></span>
                <p>TID:</p>
              </div>
              <div class="left-buttons">
                <ul>
                  <li>
                    <a href="#"
                      ><i class="fas fa-pen" style="color: #fff"></i
                    ></a>
                  </li>
                </ul>
              </div>
              <input
                style="border: 1px solid rgb(174, 177, 201); padding: 4px 8px"
                type="button"
                name="next-step"
                class="next-step"
                value="START"
              />
            </div>

            <div class="load-cont">
              <i
                style="margin: 10vh 30vh 0 9vh; color: #0061a8"
                class="fas fa-microscope fa-9x"
              ></i>
              <h1 style="margin-top: 4vh">Place the Slider</h1>
            </div>
          </fieldset>

          <fieldset>
            <div
              style="
                background: #0061a8;
                display: flex;
                width: 100%;
                padding: 0 10px 0 50px;
              "
              class="random-buttons"
            >
              <div class="left-section">
                <p>PID:</p>
                <span style="width: 50px"></span>
                <p>TID:</p>
              </div>
              <div class="left-buttons">
                <ul>
                  <li>
                    <a href="#"
                      ><i class="fas fa-pen" style="color: #fff"></i
                    ></a>
                  </li>
                </ul>
              </div>
              <input
                style="border: 1px solid rgb(174, 177, 201); padding: 4px 8px"
                type="button"
                name="next-step"
                class="next-step"
                value="START"
              />
            </div>
            <i
              style="margin: 10vh 45vh 0 0; color: #0061a8"
              class="fas fa-microscope fa-9x"
            ></i>

            <h1 style="margin-top: 5vh">Patient Details</h1>
          </fieldset>
          <fieldset>
            <div
              style="
                background: #0061a8;
                display: flex;
                width: 100%;
                padding: 0 10px 0 50px;
              "
              class="random-buttons"
            >
              <div class="left-section">
                <p>PID:</p>
                <span style="width: 50px"></span>
                <p>TID:</p>
              </div>
              <div class="left-buttons">
                <ul>
                  <li>
                    <a href="#"
                      ><i class="fas fa-pen" style="color: #fff"></i
                    ></a>
                  </li>
                </ul>
              </div>
              <input
                style="border: 1px solid rgb(174, 177, 201); padding: 4px 8px"
                type="button"
                name="next-step"
                class="next-step"
                value="START"
              />
            </div>
            <i
              style="margin: 10vh 45vh 0 0; color: #0061a8"
              class="fas fa-microscope fa-9x"
            ></i>
            <h1 style="margin-top: 5vh">Auto Calibration</h1>
            <div class="load-anim2">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
            </div>
          </fieldset>
          <fieldset>
            <div
              style="
                background: #0061a8;
                display: flex;
                width: 100%;
                padding: 0 10px 0 50px;
              "
              class="random-buttons"
            >
              <div class="left-section">
                <p>PID:</p>
                <span style="width: 50px"></span>
                <p>TID:</p>
              </div>
              <div class="left-buttons">
                <ul>
                  <li>
                    <a href="#"
                      ><i class="fas fa-pen" style="color: #fff"></i
                    ></a>
                  </li>
                </ul>
              </div>
              <input
                style="border: 1px solid rgb(174, 177, 201); padding: 4px 8px"
                type="button"
                name="next-step"
                class="next-step"
                value="START"
              />
            </div>
            <i
              style="margin: 10vh 45vh 0 0; color: #0061a8"
              class="fas fa-microscope fa-9x"
            ></i>

            <h1 style="margin-top: 5vh">Auto Region Selection</h1>
            <div class="load-anim3">
              <div>loading</div>
              <div>loading</div>
              <div>loading</div>
              <div>loading</div>
            </div>
          </fieldset>
          <fieldset>
            <div
              style="
                background: #0061a8;
                display: flex;
                width: 100%;
                padding: 0 10px 0 50px;
              "
              class="random-buttons"
            >
              <div class="left-section">
                <p>PID:</p>
                <span style="width: 50px"></span>
                <p>TID:</p>
              </div>
              <div class="left-buttons">
                <ul>
                  <li>
                    <a href="#"
                      ><i class="fas fa-pen" style="color: #fff"></i
                    ></a>
                  </li>
                </ul>
              </div>
              <input
                style="border: 1px solid rgb(174, 177, 201); padding: 4px 8px"
                type="button"
                name="next-step"
                class="next-step"
                value="START"
              />
            </div>
            <i
              style="margin: 10vh 45vh 0 0; color: #0061a8"
              class="fas fa-microscope fa-9x"
            ></i>

            <h1 style="margin-top: 5vh">Image Capturing</h1>
            <section>
              <div class="load-anim4">
                Loading
              </div>
            </section>
          </fieldset>
          <fieldset>
            <div
              style="
                background: #0061a8;
                display: flex;
                width: 100%;
                padding: 0 10px 0 50px;
              "
              class="random-buttons"
            >
              <div class="left-section">
                <p>PID:</p>
                <span style="width: 50px"></span>
                <p>TID:</p>
              </div>
              <div class="left-buttons">
                <ul>
                  <li>
                    <a href="#"
                      ><i class="fas fa-pen" style="color: #fff"></i
                    ></a>
                  </li>
                </ul>
              </div>
              <input
                style="border: 1px solid rgb(174, 177, 201); padding: 4px 8px"
                type="button"
                name="next-step"
                class="next-step"
                value="START"
              />
            </div>
            <i
              style="margin: 10vh 45vh 0 0; color: #0061a8"
              class="fas fa-microscope fa-9x"
            ></i>

            <h1 style="margin-top: 5vh">WBC Module</h1>
            <div class="load-anim">
              <div class="dot dot1"></div>
              <div class="dot dot2"></div>
              <div class="dot dot3"></div>
              <div class="dot dot4"></div>
              <div class="dot dot5"></div>
              <div class="dot dot6"></div>
              <div class="dot dot7"></div>
              <div class="dot dot8"></div>
            </div>
          </fieldset>
          <fieldset>
            <div
              style="
                background: #0061a8;
                display: flex;
                width: 100%;
                padding: 0 10px 0 50px;
              "
              class="random-buttons"
            >
              <div class="left-section">
                <p>PID:</p>
                <span style="width: 50px"></span>
                <p>TID:</p>
              </div>
              <div class="left-buttons">
                <ul>
                  <li>
                    <a href="#"
                      ><i class="fas fa-pen" style="color: #fff"></i
                    ></a>
                  </li>
                </ul>
              </div>
              <input
                style="border: 1px solid rgb(174, 177, 201); padding: 4px 8px"
                type="button"
                name="next-step"
                class="next-step"
                value="START"
              />
            </div>
            <i
              style="margin: 10vh 45vh 0 0; color: #0061a8"
              class="fas fa-microscope fa-9x"
            ></i>

            <h1 style="margin-top: 5vh">Image Processing</h1>
            <div class="load-anim4">
                Loading
              </div>
          </fieldset>
          <fieldset>
            <div
              style="
                background: #0061a8;
                display: flex;
                width: 100%;
                padding: 0 10px 0 50px;
              "
              class="random-buttons"
            >
              <div class="left-section">
                <p>PID:</p>
                <span style="width: 50px"></span>
                <p>TID:</p>
              </div>
              <div class="left-buttons">
                <ul>
                  <li>
                    <a href="#"
                      ><i class="fas fa-pen" style="color: #fff"></i
                    ></a>
                  </li>
                </ul>
              </div>
              <input
                style="border: 1px solid rgb(174, 177, 201); padding: 4px 8px"
                type="button"
                name="next-step"
                class="next-step"
                value="START"
              />
            </div>
            <i
              style="margin: 10vh 45vh 0 0; color: #0061a8"
              class="fas fa-microscope fa-9x"
            ></i>

            <h1 style="margin-top: 5vh">Image Analysis</h1>
            <div class="load-anim4">
                Loading
              </div>
          </fieldset>
          <fieldset>
            <div
              style="
                background: #0061a8;
                display: flex;
                width: 100%;
                padding: 0 10px 0 50px;
              "
              class="random-buttons"
            >
              <div class="left-section">
                <p>PID:</p>
                <span style="width: 50px"></span>
                <p>TID:</p>
              </div>
              <div class="left-buttons">
                <ul>
                  <li>
                    <a href="#"
                      ><i class="fas fa-pen" style="color: #fff"></i
                    ></a>
                  </li>
                </ul>
              </div>
              <input
                style="border: 1px solid rgb(174, 177, 201); padding: 4px 8px"
                type="button"
                name="next-step"
                class="next-step"
                value="START"
                disabled
              />
            </div>
            <i
              style="margin: 10vh 45vh 0 0; color: #0061a8"
              class="fas fa-microscope fa-9x"
            ></i>

            <h1 style="margin-top: 5vh">Report</h1>
            <div class="load-anim4">
                Loading
              </div>
            l
          </fieldset>
        </div>
      </form>
    </div>
  </div>
</div>

<jw-modal id="modal1">
  <div>
    <nav class="navbar1">
      <h6 style="padding: 0.75rem 0 0.25rem 0.5rem">Patient List</h6>
      <button class="close-btn" (click)="modalService.close('modal1')">
        <i
          style="margin-right: 1vw; font-size: large"
          class="far fa-times-circle"
        ></i>
      </button>
    </nav>
  </div>

  <div class="search-container">
    <div class="search-box">
      <input class="search-txt" type="text" name="" placeholder="Search..." />
      <i class="fas fa-search"></i>
    </div>
  </div>

  <div class="master-p-list">
    <div class="mat-elevation-z0">
      <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="pid">
          <th mat-header-cell *matHeaderCellDef>Patient ID</th>
          <td mat-cell *matCellDef="let element">{{ element.pid }}</td>
        </ng-container>

        <ng-container matColumnDef="tid">
          <th mat-header-cell *matHeaderCellDef>Test ID</th>
          <td mat-cell *matCellDef="let element">{{ element.tid }}</td>
        </ng-container>

        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef>
            Test Date & Time
            <i class="fas fa-caret-down"></i>
          </th>
          <td mat-cell *matCellDef="let element">{{ element.date }}</td>
        </ng-container>

        <ng-container matColumnDef="report">
          <th mat-header-cell *matHeaderCellDef>Report</th>
          <td mat-cell *matCellDef="let element">
            {{ element.report }}

            <a href=""><i class="fas fa-redo-alt"></i></a>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <mat-paginator
        [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons
      ></mat-paginator>
    </div>
  </div>
</jw-modal>

<jw-modal id="modal2">
  <div>
    <nav class="navbar2">
      <h6 style="padding: 0.75rem 0 0.25rem 0.5rem">Add New Patient</h6>
      <button class="close-btn" (click)="modalService.close('modal2')">
        <i
          style="margin-right: 1vw; font-size: large"
          class="far fa-times-circle"
        ></i>
      </button>
    </nav>
  </div>

  <div class="add-patient">
    <div class="patient-id">
      <label style="padding-right: 1vw; color: #fff" for="">Patient ID </label>
      <input
        style="
          background: transparent;
          outline: none;
          border: none;
          border-bottom: 1px solid #fff;
          color: #fff;
        "
        type="text"
      />
    </div>

    <div class="patient-id">
      <label style="padding-right: 1vw; color: #fff" for="">Test ID </label>
      <input
        style="
          background: transparent;
          outline: none;
          border: none;
          border-bottom: 1px solid #fff;
          color: #fff;
        "
        type="text"
      />
    </div>
  </div>
  <div class="master-p-list">
    <mat-tab-group class="blood-header" mat-align-tabs="start">
      <mat-tab class="blood-tab" label="BLOOD" active>
        <div class="blood-container">
          <div class="blood-top">
            <div class="blood-rbc">
              <input
                type="checkbox"
                id="vehicle1"
                name="vehicle1"
                value="Bike"
              />
              <label style="margin: 1rem 0 0.5rem 1rem" for="vehicle1">
                RBC Size</label
              ><br />
              <input
                type="checkbox"
                id="vehicle2"
                name="vehicle2"
                value="Car"
              />
              <label style="margin: 1rem 0 0.5rem 1rem" for="vehicle2">
                RBC Count</label
              ><br />
              <input
                type="checkbox"
                id="vehicle3"
                name="vehicle3"
                value="Boat"
              />
              <label style="margin: 1rem 0 0.5rem 1rem" for="vehicle3">
                RBC Texture</label
              ><br />
              <input
                type="checkbox"
                id="vehicle1"
                name="vehicle1"
                value="Bike"
              />
              <label style="margin: 1rem 0 0.5rem 1rem" for="vehicle1">
                RBC Shape</label
              ><br />
              <input
                type="checkbox"
                id="vehicle2"
                name="vehicle2"
                value="Car"
              />
              <label style="margin: 1rem 0 0.5rem 1rem" for="vehicle2">
                RBC Paller</label
              ><br />
            </div>
            <div class="blood-wbc">
              <input
                type="checkbox"
                id="vehicle1"
                name="vehicle1"
                value="Bike"
              />
              <label style="margin: 1rem 0 0.5rem 1rem" for="vehicle1">
                RBC Size</label
              ><br />
              <input
                type="checkbox"
                id="vehicle2"
                name="vehicle2"
                value="Car"
              />
              <label style="margin: 1rem 0 0.5rem 1rem" for="vehicle2">
                RBC Count</label
              ><br />
            </div>
            <div class="blood-platelets">
              <input
                type="checkbox"
                id="vehicle1"
                name="vehicle1"
                value="Bike"
              />
              <label style="margin: 1rem 0 0.5rem 1rem" for="vehicle1">
                RBC Size</label
              ><br />
              <input
                type="checkbox"
                id="vehicle2"
                name="vehicle2"
                value="Car"
              />
              <label style="margin: 1rem 0 0.5rem 1rem" for="vehicle2">
                RBC Count</label
              ><br />
              <input
                type="checkbox"
                id="vehicle3"
                name="vehicle3"
                value="Boat"
              />
              <label style="margin: 1rem 0 0.5rem 1rem" for="vehicle3">
                RBC Texture</label
              ><br />
            </div>
          </div>

          <div class="blood-control">
            <button class="blood-save-btn">
              <strong> SAVE </strong>
            </button>
            <button class="blood-cancel-btn">
              <strong> CANCEL </strong>
            </button>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</jw-modal>

<footer class="special-color-dark">
  <p class="text-footer">Copyright &copy; 2021 - All rights reserved</p>
</footer>
