<div class="cover1">
    <div class="logo-rb">

        </div>

        <div class="machine">
          
        </div>
  <div class="container-fluid master-login">
       
    <div class="row">
      <div class="col-md-14 col-sm-4 col-xs-12"></div>
      <div class="col-md-14 col-sm-4 col-xs-12">

       
        <div class="login-wrapper">
          <div class="card bg">
            <div class="card-body bg">
              <form
                class="form-signin"
                (ngSubmit)="onSubmit(signInForm)"
                #signInForm="ngForm"
              >
                <div class="title1">
                  <h1 style="text-align: start; margin-left: 100px">
                   <b> D</b>igital
                   <!-- <strong> D</strong>igital -->
                    <h4 style="text-align: center">Pathology Solutions</h4>
                  </h1>
                </div>
                <br />
                <!-- <img
                class="mb-4"
                style="margin-left: 130px"
                src="https://image.flaticon.com/icons/png/512/295/295128.png"
                alt=""
                width="72"
                height="72"
              /> -->
                <h1 class="h3 mb-3 font-weight-normal">Login</h1>
                <br />
                <label for="inputEmail" class="email-tab sr-only"
                  >Email address</label
                >
                <input
                  style="
                    background: transparent;
                    outline: none;
                    border: none;
                    border-bottom: 1px solid #0061a8;
                    color: #0061a8;
                    font-weight: bold;
                  "
                  type="email"
                  id="inputEmail"
                  name="email"
                  class="email-tab"
                  placeholder="User Name"
                  size="40"
                  
                  required
                  autofocus
                  ngModel
                />
                <br />
                <label for="inputPassword" class="pass-tab sr-only"
                  >Password</label
                >
                <input
                  style="
                    background: transparent;
                    outline: none;
                    border: none;
                    border-bottom: 1px solid #0061a8;
                    color: #0061a8;
                    font-weight: bold;
                  "
                  type="password"
                  id="inputPassword"
                  name="password"
                  class="pass-tab"
                  placeholder="Password"
                  size="40"
                  required
                  ngModel
                />

                <br />
                <button style="font-size: large;" class="btn login-btn btn-success" type="submit">
                  Login
                </button>

                <div
                  class="alert alert-danger"
                  role="alert"
                  *ngIf="isFormInvalid"
                >
                  Please fill all fields
                </div>

                <div
                  class="alert alert-danger"
                  role="alert"
                  *ngIf="areCredentialsInvalid"
                >
                  Invalid email or password
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-14 col-sm-4 col-xs-12"></div>
    </div>
  </div>
</div>
